<div class="pt__menu__container__item">
  <a class="pt__menu__container__item__link" (click)="onClick($event)" [routerLink]="['']" [routerLinkActive]="['pt__menu__container__item__link__active']"
    [routerLinkActiveOptions]="{exact: true}">Trang chủ</a>
</div>
<div class="pt__menu__container__item">
  <a class="pt__menu__container__item__link" (click)="onClick($event)" [routerLink]="['/nhacviet']" [routerLinkActive]="['pt__menu__container__item__link__active']">Nhạc Việt</a>
</div>
<div class="pt__menu__container__item">
  <a class="pt__menu__container__item__link" (click)="onClick($event)" [routerLink]="['/nhacquocte']" [routerLinkActive]="['pt__menu__container__item__link__active']">Nhạc Quốc Tế</a>
</div>